:root {
	--white: #EDEBE9;
	--dark-grey: #8B8A88;
	--red: #D90F0F;
	--blue: #5893CE;
	--black: #2C302E;

	--gradient-lighten: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.1));
	--gradient-darken: linear-gradient(130deg, rgba(0,0,0,0), rgba(0,0,0,0.45));
}

body {
	margin: 0;
	font-family: 'Comfortaa', sans-serif;
	color: var(--black);
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4 {
	font-family: "Josefin Sans", sans-serif;
}

h2 {
	font-size: 2rem;
	color: var(--red);
}

hr {
	width: 100%;
	height: 6px;
	border: none;
	background-color: var(--red);
	transform-origin: center;
	animation: hrShow 1800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes hrShow {
	0% {transform: scaleX(0)}
	100% {transform: scaleX(1)}
}

a {
	text-decoration: none;
	transition-property: color text-shadow background-color;
	transition-duration: 400ms;
}

button {
	color: var(--black);
	background-color: var(--white);
	font-family: "Josefin Sans", sans-serif;
	font-size: inherit;
	border-radius: 20px;
	padding: 10px;
	border: 3px solid var(--white);
	transition: all 200ms ease-in;
	margin: 10px;
	cursor: pointer;
}

button:hover, button:focus {
	border: 3px solid var(--black);
}

button:active {
	background-color: var(--red);
	color: var(--white);
}

.link-dark {
	color: var(--black);
}

.link-dark:hover {
	color: var(--white);
	text-shadow: 0 0 10px var(--white);
}

.link-light {
	color: var(--white);
}

.link-light:hover {
	text-shadow: 0 0 10px var(--white);
}


p {
	font-size: 1rem;
}

/*Helper Classes*/

.hidden {
	display: none;
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
}

.shown {
	display: initial;
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

/*Hero Content*/

#hero {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background: var(--yellow);
	background: var(--gradient-darken);
	margin: 0;
	text-align: center;
	height: 100vh;
	position: sticky;
	top: 0;
}


#hero-title {
	font-weight: normal;
	font-size: 5.2rem;
	z-index: 1;
	margin: 0;
	position: absolute;
	top: calc(13.5% + 205px);
    transform: translateY(-50%);
}

.letter {
	color: var(--black);
	opacity: 0;
	animation: focusIn 800ms ease-in forwards;
}

.hero-sub {
	font-size: 3rem;
	color: var(--black);
	opacity: 0;
	animation: focusIn 400ms 2000ms ease-in forwards;
	letter-spacing: -1px;
	margin: 5vh 0;
}

.prompt {
	margin: 0 0 5vh 0;
	opacity: 0;
	font-size: 4rem;
	transform: rotate(90deg);
	animation: focusIn 400ms 2700ms ease-in forwards;
}

@keyframes focusIn {
	0% {opacity: 0; text-shadow: 0 0 5px var(--black);}
	80% {opacity: 0.8; text-shadow: 0 0 5px var(--black);}
	100% {opacity: 1; text-shadow: none;}
}



.svg-left, .svg-right {
	height: 410px;
	width: 205px;
	position: absolute;
	top: 13.5%;
}

@keyframes glo {
	to {
		height: 410px;
	}
}

.svg-left {
	transform: translateX(-50%);
}

.svg-right {
	transform: translateX(50%);
}

#hero path, circle, ellipse {
	stroke: var(--white);
	fill: transparent;
	stroke-width: 5;
}

.ellipse-group {
	opacity: 0;
	animation: fadeIn 1s 2s linear forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

#e1a {animation: e1a 3s 0s linear infinite;}
#e1b {animation: e1b 3s 1s linear infinite;}
#e1c {animation: e1c 3s 2s linear infinite;}
#e1d {animation: e1d 3s 0s linear infinite;}
#e1e {animation: e1e 3s 1s linear infinite;}
#e1f {animation: e1f 3s 2s linear infinite;}

@keyframes e1a {0%   {rx: 200}	100% {rx: 0}}
@keyframes e1b {0%   {rx: 200}	100% {rx: 0}}
@keyframes e1c {0%   {rx: 200}	100% {rx: 0}}
@keyframes e1d {0%   {rx: 0}	100% {rx: 200}}
@keyframes e1e {0%   {rx: 0}	100% {rx: 200}}
@keyframes e1f {0%   {rx: 0}	100% {rx: 200}}

.svg-left circle {
	animation: drawCircleLeft 2s linear forwards;
	stroke-dasharray: 628px;
	stroke-dashoffset: 314px;
}

@keyframes drawCircleLeft {
	0%{stroke-dashoffset: 314px;}
	100%{stroke-dashoffset: 942px;}
}

.svg-right circle {
	animation: drawCircleRight 2s linear forwards;
	stroke-dasharray: 628px;
}

@keyframes drawCircleRight {
	0%{stroke-dashoffset: -314px;}
	100%{stroke-dashoffset: 314px;}
}

.h-1 {animation: hA 100ms 0333ms linear forwards; transform: scaleX(0); transform-origin: center;}
.h-2 {animation: hA 100ms 0666ms linear forwards; transform: scaleX(0); transform-origin: center;}
.h-3 {animation: hA 100ms 1000ms linear forwards; transform: scaleX(0); transform-origin: center;}
.h-4 {animation: hA 100ms 1333ms linear forwards; transform: scaleX(0); transform-origin: center;}
.h-5 {animation: hA 100ms 1666ms linear forwards; transform: scaleX(0); transform-origin: center;}

@keyframes hA {to{transform: scaleX(1);}}


#hero::after {
	content: "";
	position: absolute;
	width: 100%;
	transform-origin: center;
	left: 0;
	transform: skewY(2deg) translateY(-50px);
	z-index: -1;
	opacity: 0.5;
	background: var(--blue);
	background-image: var(--gradient-lighten);
	height: 510px;
	top: 13.5%;
}


/*NAVBAR*/

nav {
  position: sticky;
  top: 0;
  width: 90%;
  padding: 0 5%;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0px 5px 1px var(--black);
  z-index: 2;
  font-family: "Josefin Sans", sans-serif;
}

nav a {
  text-decoration: none;
  font-size: 1.8rem;
}

nav ul {
  background: var(--white);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  color: var(--black);
  background: var(--white);
  display: block;
  float: left;
  padding: 10px;
  position: relative;
  text-decoration: none;
}
  
nav li a {
  color: inherit;
}

nav li:hover,
nav li:focus-within {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

nav li:focus-within a {
  outline: none;
}

#brand {
  color: var(--red);
  /*margin-right: 40vw;*/
}

#brand:hover,
#brand:focus-within {
  color: var(--white);
  background-color: var(--red);
}

/*Ghost*/

.body-top, .body-low, .tail {
	fill: var(--white);
	animation: ghost-y 2s ease-in-out infinite;
}

.eye {
	fill: none;
	stroke: var(--black);
	stroke-width: 5;
	animation: ghost-blink 4s ease-in-out infinite;
}

.shadow {
	fill: var(--black);
	stroke: none;
	animation: shadow 2s ease-in-out infinite
}

@keyframes shadow {
	0% {rx: 15; ry: 2.5;}
	50% {rx: 30; ry: 5;}
	100% {rx: 15; ry: 2.5;}
}

@keyframes ghost-y {
	0% {transform: translate(0,-10px)}
	50% {transform: translate(0,10px)}
	100% {transform: translate(0,-10px)}
}

@keyframes ghost-blink {
	0% {transform: translate(0,-10px); rY: 12.5;}
	8% {rY: 12.5;}
	10% {rY: 0;}
	12% {rY: 12.5;}
	18% {rY: 12.5;}
	20% {rY: 0;}
	22% {rY: 12.5;}
	25% {transform: translate(0,10px);}
	50% {transform: translate(0,-10px);}
	75% {transform: translate(0,10px);}
	100% {transform: translate(0,-10px); rY: 12.5;}
}


/*Sections*/

.container {
	background: var(--white);
	background-image: var(--gradient-darken);
	position: relative;
	/*overflow-y: hidden;*/
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1000px;
	margin: 0 auto;
	height: 100vh;
	position: relative;
}

.section-content {
	display: flex;
	z-index: 1;
	position: relative;
}

.section-content::after {
	content: "";
	position: absolute;
	width: 1000px;
	height: 120%;
	transform-origin: center;
	left: calc(((100vw - 1000px) / 2) * -1);
	transform: skewY(2deg) translateY(-8%);
	z-index: -1;
	background: var( --blue);
	background-image: var( --gradient-lighten);
	padding-right: calc((100vw - 1000px) / 2);
	padding-left: calc((100vw - 1000px) / 2);
	opacity: 0.7;
}

/*about Section*/

#about .section-content {
	flex-direction: row;
	justify-content: center;
}

#about .section-text {
	width: 76%;
}

.circle {
	height: 200px;
	width: 200px;
	border: 10px solid var(--white);
	border-radius: 50%;
	background-color: var(--black);
	background: url(imgs/helsinki-sm.jpg) center / contain;
	background-size: 150%;
	margin: -40px -10px 0px 15px;
	float: right;
	-webkit-shape-outside: circle();
	shape-outside: circle();
}

/*portfolio*/

#portfolio .section-content {
	text-align: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#portfolio .section-content::after {
	top: 10%;
	height: 100%;
}

#portfolio .button-active {
	background-color: var(--red);
	color: var(--white);
	border: 3px solid var(--white);
}

#portfolio .section-feature {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 540px;
}

.portfolio-entry {
	background-color: var(--black);
	border-radius: 20px;
	margin: 10px;
	overflow: hidden;
	color: var(--white);
	text-align: center;
	position: relative;
	height: 500px;
	width: 790px;
	transform-origin: top;
}

.min {
	animation: toMin 100ms ease-out forwards;
}

@keyframes toMin {
	to {
		opacity: 0;
	}
}

.max {
	animation: toMax 100ms ease-out forwards;
}

@keyframes toMax {
	to {
		opacity: 1;
	}
}


.portfolio-entry img  {
	box-sizing: border-box;
	vertical-align: top;
	transition: filter, opacity, transform 150ms ease-in;
	position: absolute;
	transform: translateX(-50%);
	border-radius: 20px;
	filter: grayscale(50%);
	opacity: 0.1;
	width: 100%;
	height: auto;
	z-index: -1;
}

.portfolio-entry a {
	margin: 10% 0;
}

.entry-title {
	font-size: 1.3rem;
	margin-top: 125px;
	font-weight: bold;
	text-transform: uppercase;
	transform: translateY(-50%);
	margin: 2.5rem auto 0 auto;
	width: 100%;
}

.entry-blurb {
	margin-left: 5%;
	margin-right: 5%;
	text-align: left;
}

.entry-blurb li {
	font-size: 1.1rem;
}

.entry-blurb p {
	margin-top: 0;
}

.entry-blurb button {
	width: 40%;
	height: 3rem;
}

.entry-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.entry-buttons a {
	margin: 0;
}

.entry-buttons button {
	width: 195px;
}


/*contact*/

#contact .section-content {
	flex-direction: row-reverse;
	justify-content: center;
}

#contact .section-content::after {
	height: 150%;
    top: -15%;
}

#contact .section-text {
	text-align: right;
	width: 54%;
}

#contact h2 {
	margin-bottom: 0;
}

#contact button:last-of-type {
	margin-right: 0;
}

/*Tablet Breakpoint*/

@media(max-width: 768px){
	/*Hero Styling*/

	#hero-title {
		font-size: 3.5rem;
	}

	.hero-sub {
		font-size: 2rem;
	}

	/*Nav Styling*/

	nav {
		flex-wrap: wrap;
		justify-content: center;
	}

	/*Section Styling*/

	section {
		min-height: calc(100vh - 97px);
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.section-content::after {
		display: none;
	}

	.section-content {
		flex-wrap: wrap;
		background-color: var(--blue);
		width: 100%;
		border-top: 10px solid var(--white);
		border-bottom: 10px solid var(--white);
	}

	.body-top, .body-low, .tail, .shadow {
		animation: none;
	}

	.eye {
		animation: ghost-blink-mobile 4s ease-in-out infinite;
	}

	@keyframes ghost-blink-mobile {
		0% {rY: 12.5;}
		8% {rY: 12.5;}
		10% {rY: 0;}
		12% {rY: 12.5;}
		18% {rY: 12.5;}
		20% {rY: 0;}
		22% {rY: 12.5;}
		100% {rY: 12.5;}
	}

	#about .section-text {
		width: 80%;
	}

	.circle {
		margin: -35px -15px 0px 20px;
	}

	.img-container {
		transform: translateY(0px);
		margin-bottom: 1rem;
	}

	#portfolio {
		height: auto;
	}

	#portfolio .section-feature {
		height: auto;
	}

	#portfolio button {
		margin: 3px;
	}

	.max {
		width: 80vw;
		/*height: 75vh;*/
		overflow-x: scroll;
	}

	#contact .section-text {
		width: 80%;
		text-align: center;
	}
}

/*Mobile Breakpoint*/
@media(max-width: 425px){
	#hero {
		overflow: hidden;
	}

	#e1a, #e1d {animation: none; rx: 66;}
	#e1b, #e1e {animation: none; rx: 132;}
	#e1c, #e1f {animation: none; rx: 200;}

	.letter {
		letter-spacing: -15px;
	}

	section {
		height: auto;
		margin: 10% 0;
	}

	nav ul:nth-of-type(2){
		display: flex;
		justify-content: center;
	}

	nav ul li {
		padding: 5px;
	}

	.max {
		width: 300px;
		height: auto;
	}

}