:root {
	--white: #EDEBE9;
	--dark-grey: #8B8A88;
	--red: #D90F0F;
	--blue: #5893CE;
	--black: #050709;

	--section-blue: #83acd5;
	--section-red: #E35050;

	--gradient-lighten: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.1));
	--gradient-darken: linear-gradient(130deg, rgba(0,0,0,0), rgba(0,0,0,0.45));
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	color: var(--black);
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4 {
	font-family: "Josefin Sans", sans-serif;
}

h2 {
	font-size: 2rem;
	color: var(--red);
}

hr {
	width: 100%;
	height: 6px;
	border: none;
	background-color: var(--red);
	transform-origin: center;
}

a {
	-webkit-appearance: none;
	transition-duration: 400ms;
}

button {
	color: var(--black);
	background-color: var(--white);
	font-family: "Josefin Sans", sans-serif;
	font-size: inherit;
	border-radius: 20px;
	padding: 10px;
	border: 3px solid var(--white);
	transition: all 200ms ease-in;
	margin: 10px;
	cursor: pointer;
	outline: none;
}

button:hover, button:focus {
	border: 3px solid var(--black);
}

button:active {
	background-color: var(--red);
	color: var(--white);
}

.link-light {
	color: var(--white);
}

.link-light:hover {
	color: var(--black);
}

.link-dark {
	color: var(--black);
}

p {
	font-size: 1rem;
}

/*Hero Content*/

#hero {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background: var(--gradient-darken);
	margin: 0;
	text-align: center;
	height: 100vh;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}


#hero-title {
	font-weight: normal;
	font-size: 5.2rem;
	z-index: 1;
	margin: 0;
	position: absolute;
	top: calc(13.5% + 205px);
	transform: translateY(-50%);
}

.letter {
	color: var(--black);
	opacity: 0;
	text-shadow: 0 0 5px var(--black);
}

#hero-sub {
	font-size: 3rem;
	color: var(--black);
	opacity: 0;
	text-shadow: 0 0 5px var(--black);
	margin: 5vh 0;
	z-index: 1;
}

#prompt {
	margin: 0 0 5vh 0;
	opacity: 0;
	font-size: 4rem;
	transform-origin: center;
	transform: rotate(90deg);
	text-shadow: 0 0 5px var(--black);
	color: var(--black);
	text-decoration: none;
	font-family: "Josefin Sans", sans-serif;
}

#prompt:hover {
	color: var(--white);
}

.hero-globe {
	height: 410px;
	width: 410px;
	position: absolute;
	top: 13.5%;
}

.hero-globe * {
	stroke: var(--white);
	fill: transparent;
	stroke-width: 5;
}

.hero-globe circle {
	transform-origin: center center;
	transform: rotate(-90deg);
	stroke-dashoffset: 1884px;
	stroke-dasharray: 1884px;
}

.hero-globe-horz {
	transform-origin: center center;
}

.hero-globe-vert-group {
	opacity: 0;
}

#hero::after {
	content: "";
	position: absolute;
	width: 100%;
	transform-origin: center;
	left: 0;
	transform: skewY(2deg) translateY(-50px);
	z-index: -1;
	opacity: 0.5;
	background: var(--blue);
	background-image: var(--gradient-lighten);
	height: 510px;
	top: 13.5%;
}


/*NAVBAR*/

nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 90%;
	padding: 0 5%;
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0px 5px 1px var(--black);
	z-index: 2;
	font-family: "Josefin Sans", sans-serif;
}

nav a {
	text-decoration: none;
	font-size: 1.8rem;
}

nav ul {
	background: var(--white);
	list-style: none;
	margin: 0;
	padding-left: 0;
}

nav li {
	color: var(--black);
	background: var(--white);
	display: block;
	float: left;
	padding: 10px;
	position: relative;
	text-decoration: none;
}
	
nav li a {
	color: inherit;
}

nav li:hover,
nav li:focus-within {
	background-color: var(--black);
	color: var(--white);
	cursor: pointer;
}

nav li:focus-within a {
	outline: none;
}

#brand {
	color: var(--red);
}

#brand:hover,
#brand:focus-within {
	color: var(--white);
	background-color: var(--red);
}

/*Ghost*/

.body-top, .body-low, .tail {
	fill: var(--white);
}

.eye {
	fill: none;
	stroke: var(--black);
	stroke-width: 5;
}

.shadow {
	fill: var(--black);
	stroke: none;
}

/*Sections*/

.container {
	background: var(--white);
	background-image: var(--gradient-darken);
	position: relative;
	z-index: 2;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 900px;
	margin: 0 auto;
	height: 100vh;
	position: relative;
}

.section-content {
	display: flex;
	z-index: 1;
	position: relative;
	opacity: 1;
	transition: all 350ms linear;
}

.section-content::after {
	content: "";
	position: absolute;
	width: 900px;
	height: 120%;
	transform-origin: center;
	transform: skewY(2deg) translateY(-8%);
	z-index: -1;
	background: var(--section-blue);
	background-image: var( --gradient-lighten);
	box-shadow: -20px -20px var(--section-red);
	border: 10px solid black;
	transition: all 250ms linear;
}

.split {
	opacity: 0;
}

.section-content.split::after {
	opacity: 0;
	transform: skewY(2deg) translateY(-8%) translateX(100vw);
	box-shadow: -200vw -20px var(--section-red);
}

/*about Section*/

#about .section-content {
	flex-direction: row;
	justify-content: center;
}

#about .section-text {
	width: 76%;
}

.circle {
	height: 200px;
	width: 200px;
	border: 10px solid var(--white);
	border-radius: 50%;
	background-color: var(--black);
	background: url(imgs/helsinki-sm.jpg) center / contain;
	background-size: 150%;
	margin: -40px -10px 0px 15px;
	float: right;
	-webkit-shape-outside: circle();
	shape-outside: circle();
	position: relative;
}

.circle::before {
	content: "";
	height: 240px;
	width: 240px;
	position: absolute;
	background-color: var(--section-red);
	border-radius: 50%;
	top: -30px;
	left: -20px;
	z-index: -1;
}

/*portfolio*/

#portfolio .section-content {
	padding-top: 20px;
	text-align: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#portfolio .section-content::after {
	top: 10%;
	height: 100%;
	margin-left: -10px;
}

#portfolio .button-active {
	background-color: var(--red);
	color: var(--white);
	border: 3px solid var(--white);
}

#portfolio .section-feature {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 540px;
}

.portfolio-entry {
	background-color: var(--black);
	border-radius: 20px;
	margin: 10px;
	overflow: hidden;
	color: var(--white);
	text-align: center;
	position: relative;
	height: 500px;
	width: 790px;
	transform-origin: top;
}

.min {
	animation: toMin 100ms ease-out forwards;
}

@keyframes toMin {
	to {
		opacity: 0;
	}
}

.max {
	animation: toMax 100ms ease-out forwards;
}

@keyframes toMax {
	to {
		opacity: 1;
	}
}


.portfolio-entry img  {
	box-sizing: border-box;
	vertical-align: top;
	transition: filter, opacity, transform 150ms ease-in;
	position: absolute;
	transform: translateX(-50%);
	border-radius: 20px;
	filter: grayscale(50%);
	opacity: 0.1;
	width: 100%;
	height: auto;
	z-index: -1;
}

.entry-title {
	font-size: 1.3rem;
	margin-top: 125px;
	font-weight: bold;
	text-transform: uppercase;
	transform: translateY(-50%);
	margin: 2.5rem auto 0 auto;
	width: 100%;
}

.entry-blurb {
	margin-left: 5%;
	margin-right: 5%;
	text-align: left;
}

.entry-links {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	text-align: center;
}

/*contact*/

#contact .section-content {
	flex-direction: row-reverse;
	justify-content: center;
}

#contact .section-content::after {
	height: 150%;
		top: -15%;
}

#contact .section-text {
	text-align: right;
	width: 54%;
}

#contact h2 {
	margin-bottom: 0;
}

/*Tablet Breakpoint*/

@media(max-width: 768px){
	/*Hero Styling*/

	#hero-title {
		font-size: 4.5rem;
	}

	#hero-sub {
		font-size: 2.5rem;
	}

	/*Nav Styling*/

	nav {
		flex-wrap: wrap;
		justify-content: center;
	}

	/*Section Styling*/

	section {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.section-content::after {
		width: 100%;
	}

	.section-content {
		flex-wrap: wrap;
		width: 90%;
	}

	#about .section-text {
		width: 80%;
	}

	.circle {
		margin: -35px -15px 0px 20px;
	}

	#portfolio {
		height: auto;
	}

	#portfolio .section-content {
		padding-top: 10px;
	}

	#portfolio .section-feature {
		height: auto;
	}

	#portfolio button {
		margin: 3px;
	}

	.max {
		width: 100%;
		overflow-x: scroll;
	}

	#contact .section-content::after {
		height: 100%;
		top: 8%;
	}

	#contact .section-text {
		width: 80%;
		text-align: center;
	}
}

/*Mobile Breakpoint*/
@media(max-width: 425px){
	#hero {
		overflow: hidden;
	}

	#hero-title {
		font-size: 4rem;
	}

	.letter {
		display: inline-block;
	}

	section {
		height: auto;
		margin: 10% 0;
		background-color: var(--section-blue);
		border-top: 10px solid var(--white);
		border-bottom: 10px solid var(--white);
	}

	.section-content {
		width: 100%;
	}

	.section-content::after {
		display: none;
	}

	nav ul:nth-of-type(2){
		display: flex;
		justify-content: center;
	}

	nav ul li {
		padding: 5px;
	}

	#about {
		margin-top: 200px;
	}

	.circle::before {
		display: none;
	}

	.max {
		height: auto;
	}
}