@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700,700i');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


:root {
	--light-shades: #EDEBE9;
	--light-accent: #8B8A88;
	--main-color: #D90F0F;
	--dark-accent: #5893CE;
	--dark-shades: #2C302E;

	--gradient-lighten: linear-gradient(900deg, rgba(255,255,255,0), rgba(255,255,255,0.1));
	--gradient-darken: linear-gradient(130deg, rgba(0,0,0,0), rgba(0,0,0,0.45));
}

/*
light shades:	EDEBE9	(white)
Use this color as the background for your dark-on-light designs, or the text color of an inverted design.

light accent:	8B8A88	(grey)
Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.

main color:		D90F0F	(red)
This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.

dark accent:	5893CE	(blue)
Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.

dark shades:	2C302E	(black)
Use as the text color for dark-on-light designs, or as the background for inverted designs.
*/


body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	color: var(--dark-shades);
	display: flex;
	flex-direction: column;
}

h2 {
	font-size: 2em;
	color: var(--main-color);
}

hr {
	/*visibility: hidden;*/
	width: 50%;
	height: 3px;
	border: none;
	background-color: var(--main-color);
	animation: hrShow 1800ms ease-in;
}

@keyframes hrShow {
	0% {width: 0%}
	100% {width: 50%}
}

a {
	font-size: 3em;
	transition: 400ms all;
	text-decoration: none;
	color: var(--dark-shades);
}

a:hover {
	color: var(--light-shades);
	text-shadow: 0 0 10px var(--light-shades);
}

p {
	font-family: Comfortaa;
}

.heroHidden {
	height: 0vh;
}

.heroShown {
	height: 100vh;
}

.containerHidden {
	height: 0%;
}

.containerShown {
	height: 100%;
}

.sectionHidden {
	height: 0vh;
	display: none;
}

.sectionHidden .sectionContent:after {
	animation: sH 400ms ease-in-out;
}

@keyframes sH {
	0%{height: 100%};
	100%{height: 0%};
}

.sectionShown {
	height: 100vh;
	display: flex;
}

.sectionShown .sectionContent:after {
	animation: sS 400ms ease-in-out;
}

.sectionShown .sectionText, .sectionFeature {
	animation: subAnimation 400ms linear;
}

@keyframes sS {
	0%{height: 0%};
	100%{height: 100%};
}

/*Hero Content*/

.hero{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*height: 100vh;*/
	transition: all linear 800ms;
	background: var(--light-shades);
	background: var(--gradient-darken);
	text-align: center;
	margin: 0 auto;
	/*transform: translateZ(-1px) scale(2);*/
	left: 0;
	top: 0;
}

#hero-main {
	font-weight: normal;
	font-size: 5.2em;
	z-index: 1;
}

.letter {
	color: var(--dark-shades);
	opacity: 0;
	animation: letter 800ms ease-in;
}

.line {
	height: 50vh;
	background-color: var(--light-shades);
	top: 0;
	left: 0;
	position: absolute;
	z-index: 0;
	transform-origin: bottom;
	animation: line 10s linear infinite;
}

@keyframes line {
	0% {transform: translateY(-50vh) scaleY(1);
		box-shadow: 0 0px 5px 5px var(--light-shades);
	}
	50% {transform: translateY(50vh) scaleY(1);
		box-shadow: 0 0px 5px 1px var(--light-shades);
	}
	75% {transform: translateY(50vh) scaleY(0);
		box-shadow: 0 0px 0px 0px var(--light-shades);
	}
	100% {transform: translateY(50vh) scaleY(0);
		box-shadow: 0 0px 0px 0px var(--light-shades);
	}
}

@keyframes letter {
	0% {opacity: 0; text-shadow: 0 0 5px var(--dark-shades);}
	80% {opacity: 0.8; text-shadow: 0 0 5px var(--dark-shades);}
	100% {opacity: 1; text-shadow: none;}
}

.visible {
	opacity: 1;
}

.hero-sub {
	text-decoration: none;
	padding-top: 7px;
	font-family: Comfortaa;
	font-size: 3em;
	color: var(--dark-shades);
	animation: subAnimation 4100ms ease-in;
	letter-spacing: -1px;
	z-index: 1;
}

.prompt {
	margin: 0 auto;
	opacity: 0;
	/*padding-bottom: auto;*/
	z-index: 1;
}

@keyframes subAnimation {
	0%{
		opacity: 0;
	}
	80%{
		opacity: 0;
	}
	90%{
		opacity: 1;
	}
}

/*NAVBAR*/

nav {
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	background-color: var(--light-shades);
	width: 100%;
	padding: 0 auto;
	position: absolute;
	z-index: 10;
	box-shadow: 0 0px 5px 1px var(--dark-shades);
}

nav a{
	font-size: 20px;
	height: 100%;
	padding: 10px 10px;
	color: var(--dark-shades);
}


nav a:hover {
	background-color: var(--dark-shades);
	color: var(--light-shades);
	text-shadow: none;
}

.brand {
	font-weight: bold;
	color: var(--main-color);
}

.brand:hover {
	background-color: var(--main-color);
	color: var(--light-shades);
}

#space{
	flex-grow: 0.5;
}


/*Sections*/

section {
	/*height: 100vh;*/
	position: relative;
	z-index: 2;
	/*display: flex;*/
	flex-direction: column;
	justify-content: center;
	transition: all 800ms linear;
}

.sectionContent {
	/**/
	display: flex;
}

.sectionContent:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 65%;
	transform-origin: center;
	transform: skewY(2deg) translateY(-50%);
	z-index: -1;
	background: var(--dark-accent);
	background-image: var(--gradient-lighten);
	/*box-shadow: 0 0px 10px 1px var(--light-shades);*/
	transition: all 800ms linear;
}

.container {
	transition: all linear 800ms;
	background: var(--light-shades);
	background-image: var(--gradient-darken);
	position: relative;
	z-index: 1;
}

.sectionHidden .sectionContent:after {
	width: 0%;
}

/*About Section*/

#About .sectionContent {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	flex-wrap: wrap;
}

#About .sectionText {
	margin-top: -4rem;
	margin-left: 17vw;
	width: 54%;
}

#About .sectionFeature {
	margin-left: auto;
	margin-right: 17vw;
}

/*Portfolio*/

#Portfolio {
	justify-content: flex-start;
}

#Portfolio .sectionContent {
	padding-top: 20vh;
	text-align: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#Portfolio .sectionFeature {
	display: flex;
	align-content: center;
	margin: 0 auto;
}

.portfolio-entry {
	height: 250px;
	width: 250px;
	background-color: var(--light-shades);
	border-radius: 20px;
	margin: 10px;
	transition: all 250ms;
	/*transition-duration: 250ms;*/
	overflow: hidden;
	color: var(--light-shades);
	text-align: center;
}

.portfolio-entry i {
	color: white;
}

.port-yelpcamp {
	background-image: url(https://source.unsplash.com/1yOkW4UwYbA);
	background-size: cover;
}

.port-maison {
	background-image: url(https://source.unsplash.com/KfMKGzgWVSY);
	background-size: cover;
}

.port-ydbh {
	background-image: url(https://source.unsplash.com/2p1HOcpi14U);
	background-size: cover;
}

.entry-title{
	font-size: 1.3em;
	margin-top: 125px;
	margin-left: 1%;
	margin-right: 1%;
	font-weight: bold;
	text-transform: uppercase;
	transform: translateY(-50%);
	transition: all 340ms 500ms ease-in-out;
}

.entry-blurb {
	margin-left: 5%;
	margin-right: 5%;
	opacity: 0;
	transform: translateY(100%);
	transition: all 340ms 500ms ease-in-out;
}

.portfolio-entry:hover {
	width: 500px;
	height: 300px;
}

.portfolio-entry:hover .entry-title {
	margin-top: 10%;
	font-size: 1.3em;
}

.portfolio-entry:hover .entry-blurb {
	opacity: 1;
	transform: translateY(0);
}

.portfolio-entry a {
	margin: 0 10%;
}

#Portfolio .sectionContent:after {
	height: 70%;
}
/*Contact*/

#Contact {
	/*display: flex;*/
	flex-direction: column;
	flex-wrap: wrap;
}

#Contact .sectionText {
	text-align: right;
	margin-right: 17vw;
	margin-left: auto;
}

#Contact a {
	margin: 10px 0 0 30px;
}

/*Responsive*/
@media screen and (max-width: 1024px) {
	#About .sectionText {
		width: 50%;
	}

	#Portfolio .sectionContent {
		align-items: center;
		flex-wrap: nowrap;
	}

	#Portfolio .sectionFeature {
		flex-direction: column;
	}

	.portfolio-entry {
		height: 50px;
		width: 500px;
	}

	.entry-title {
		margin-top: 25px;
		transform: translateY(-50%);
	}

	.portfolio-entry:hover, .portfolio-entry:active {
		height: 250px;
	}
}

@media screen and (max-width: 600px) {
	.allContent {
		/*perspective: none;*/
		/*transform-style: initial;*/
	}
	.hero {
		/*transform: translateZ(0), scale(1);*/
	}
	.letter {
		margin: 0 -15px;
	}

	#About .sectionContent {
		flex-direction: column;
	}

	#About .sectionText {
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}

	#About .sectionFeature {
		margin: 0 auto;
	}

	.portfolio-entry {
		height: 10vh;
		width: 90vw;
	}

	.portfolio-entry:hover {
		width: 90vw;
		height: 30vh;
	}

/*	.entry-title {
		margin-top: 5%;
	}*/

	/*.entry-blurb {
		opacity: 1;
		transform: translateY(0);
	}*/

	#Contact .sectionText {
		text-align: center;
		margin: 0 auto;
	}

	#Contact a {
		margin: 10px 30px 0 30px;
	}
}