@media screen and (max-width: 600px) {
	#hero-main {
		font-size: 60px;
	}
	#hero-sub {
		font-size: 30px;
	}

	.line-container{
		display: flex;
		height: 100vh;
		flex-direction: column;
	}

	.line {
		width: 100vw;
		height: 5px;
	}

	.top {
		margin-top: 260px;
		transform-origin: left;
		margin-left: 0;
		animation: lineMoveTopMob 1s linear;
	}
	.btm {
		margin-top: 120px;
		transform-origin: right;
		margin-left: auto;
		animation: lineMoveBtmMob 1s linear;
	}

	@keyframes lineMoveTopMob {
		0%{
			transform: scaleX(0);
		}
		100%{
			transform: scaleX(1);
		}
	}

	@keyframes lineMoveBtmMob {
		0%{
			transform: scaleX(0);
		}
		100%{
			transform: scaleX(1);
		}
	}

	.hero-content{
		animation: logoMob 3s ease-in;
	}

	@keyframes logoMob {
		0%{
			opacity: 0;
		}
		50%{
			opacity: 0;
		}
		60%{
			opacity: 1;
		}
	}

	.sectionText {
		text-indent: 0;
		width: 100%;
		text-align: center;
	}

}